:host {
  font-size: 14px;
}
.column {
  cursor: pointer;
}
.column:hover {
  transition: all 1s ease-out;
  box-shadow: 0 0 50px rgba(30, 77, 207, 0.2);
}
.name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
